// Navigation Bar
.navbar-brand {
    img{
        max-width: 129px;
    }
}

.navbar {
    background: #ffffff;
    border-bottom: 1px solid #F3F5F9;
    .nav-item{
        .nav-link{
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .5px;
            font-size: 14px;
            padding: 8px 14px;
            font-weight: 500;
            color: #242424;
            transition: opacity ease-in-out 500ms;
            -ms-transition: opacity ease-in-out 500ms;
            -moz-transition: opacity ease-in-out 500ms;
            -webkit-transition: opacity ease-in-out 500ms;

            &:hover{
                opacity: .65;
            }

            &.active{
                color: $primary;
            }
        }
        &.dropdown{
            .dropdown-menu{
                box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
            }
            img{
                max-width: 21px;
                margin-right: 6px;
            }
            li{
                a{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}

// Banner Area
.banner-section{
    padding-top: 216px;
    background-color: #f5fafe;
    h1{
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 55px;
        span{
            display: inline-block;
            color: $primary;
        }
    }
    p{
        margin-bottom: 30px;
    }
    &_buttons{
        .btn{
            margin-right: 10px;
        }
    }
    &_image{
        img{
            max-width: 469px;
        }
    }
    
}

.whyus{
    margin-top: -169px;
    padding: 42px 0;
    background: transparent linear-gradient(180deg,#fff 0,#f8f8f8 100%) 0 0 no-repeat padding-box;
    .card{
        padding: 27px;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        // background: #ffffff;
        border: none;
        text-align: center;
        border-radius: 6px;
        h5{
            text-align: center;
        }
        p{
            text-align: center;
        }
        img{
            border-radius: 50%; 
            max-width: 210px;
            margin: 0 auto;  
        }
        .card-body{
            padding: 15px 0 0;
        }
    }
    &_content{
        margin-bottom: 27px;

        &-icon{
            height: 69px;
            width: 69px;
            border-radius: 50px;
            background: $secondary;
            color: #ffffff;
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: 27px;
            line-height: 69px;
        }
        &-text{
            h5{
                margin-bottom: 20px;
                font-weight: 600;
            }
            p{
                line-height: 1.55;
                margin-bottom: 0;
            }
        }
    }
}

.partner {
    padding: 50px 0;
   &_logo{

    .col{
        padding: 15px;
    }
   }
}

.service-section{
    padding: 50px 0;
     background: transparent linear-gradient(180deg,#fff 0,#f8f8f8 100%) 0 0 no-repeat padding-box;
    .service-nav{
        .slick-slide{
            cursor:pointer;
            &:hover {
                    img{
                        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
                        background: #f9f9f9;
                    }
                    h6{
                        color: $secondary;
                    }
            }
            &.slick-current{
                img{
                    box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
                    background: #f9f9f9;
                    transform: scale(1.02);

                }
                h6{
                    color: $secondary;
                }
            }
            .content{
                padding: 15px 0;
            }
            img{
                max-width:89px;
                padding: 18px;
                margin: 0 auto;
                transition: all ease-in-out 800ms;
                -ms-transition: all ease-in-out 800ms;
                -moz-transition: all ease-in-out 800ms;
                -webkit-transition: all ease-in-out 800ms;
                border-radius: 12px;
            }
            h6{
                text-align: center;
                font-size: 14px;
                margin-top: 20px;
            }
        }

    }
    .service-for{
        margin-top: 33px;
        h5{
            color: #6f6f6f;
            font-weight: 500;
        }
        .tech-icon{
            padding: 9px;
            height: 79px;
            border-radius: 12px;  
            background: #f8f8f8;
            img{
                max-width: 93px;
                max-height:70px;
            }
        }
        .slick-slide{
            padding: 42px 33px;
            background: #ffffff;
            border-radius: 12px;
            margin-top: 25px;

            &::before{
                content: '';
                position: absolute;
                top:0;
                width: 0;
                height: 0;
                border-width: 0 25px 25px 25px;
                border-color: transparent transparent #ffffff transparent;
                border-style: solid;
                top: -25px;
                left: 81px;
            }
        
        }
    }
}

.workflow-section {
    background: #f8f8f8;
    position: relative;
    margin-top: -24px;

    .header-area{
        margin-top: 75px;
        background:#f8f8f8;
        z-index:10;
        position: relative;
        padding: 18px 0;
    }

    &_wrapper{
        .container{
            max-width: 900px;
        }
    }

    &_line{
        left: 50%;
        width: 3px;
        background-color: #6e7781;
        opacity: .1;
        transform: translateX(-50%);
    }
    &_box{
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        padding: 33px;
        background: #ffffff;
        border-radius: 12px;
    }
    &_dot{
        width: 33px;
        height: 33px;
        border: 3px solid #fafbfc;
        background-color: #242424;
        border-radius: 50px;
    }
}
.featured-section{
    padding: 50px 0;
    background: transparent linear-gradient(180deg,#fff 0,#f8f8f8 100%) 0 0 no-repeat padding-box;  
    &_info{
        padding:15px;
        height: 201px;
        p{
            font-size: 13px;
            text-align: justify;
            margin-bottom:0;
            color: #242424;
        }

    }
    &_wrapper{
        background-color: #ffffff;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        border-radius: 6px;
    }
    &_people{
        img{
            border-radius: 6px 6px 0 0;
        }
        .overlay{
            bottom:0;
            opacity: .9;
            background-color: $secondary;
            height: 20%;
            width: 100%;
            opacity: 0.5;
        }
        h6{
            position:absolute;
            bottom: 16px;
            color: #ffffff;
            font-size: 15px;
            margin-bottom:0;
            text-align: center;
            left: 50%;
            width: 100%;
            transform:translateX(-50%);
        }
     
    }
}
.team-section{
    padding: 50px 0;
    // background: transparent linear-gradient(180deg,#fff 0,#f8f8f8 100%) 0 0 no-repeat padding-box;
    background-color: #ffffff;
    .team-nav{
        text-align: center;
        .slick-slide{
            &.slick-current{
                figure{
                    .overlay{
                        opacity: 1;
                    }
                    h6{
                        opacity: 1;
                    }
                }
            }
        }
        figure{
            max-width: fit-content;
            margin: 0;
            position: relative;
            border-radius: 9px;
            &:hover{
                cursor: pointer;
                .overlay{
                    opacity: 1;
                }
                h6{
                    opacity: 1;
                }
            }
            h6{
                position: absolute;
                font-size: 12px;
                top: 80%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: #ffffff;
                width: 100%;
                opacity: 0;
                text-transform: uppercase;
                transition: all ease-in-out 500ms;
                -ms-transition: all ease-in-out 500ms;
                -moz-transition: all ease-in-out 500ms;
                -webkit-transition: all ease-in-out 500ms;
            }
            .overlay{
                position: absolute;
                top:0;   
                right:0;
                bottom:0;
                left:0;
                background: rgba(0, 90, 169, .6);
                opacity: 0;
                height: 100%;
                width: 100%;
                border-radius: 9px;
                transition: all ease-in-out 500ms;
                -ms-transition: all ease-in-out 500ms;
                -moz-transition: all ease-in-out 500ms;
                -webkit-transition: all ease-in-out 500ms;
            }
            img{
                max-width: 171px;
                border-radius: 9px;
            }
        }
    }
    .team-for{
        margin-top: 33px;
        border-radius: 12px;
        // background: linear-gradient(to top, darken($secondary, 5%), darken($secondary, 10%) 45%, darken($secondary, 15%) 100%);
        background-color: #f8f8f8;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        figure{
            margin-bottom: 0;
            img{
                border-radius: 12px 0 0 12px;
            }
        }
        &_details{
            padding: 33px 26px 18px;
            h3{
                // color: #ffffff;
                text-transform: uppercase;
                line-height: 114%;
                span{
                    font-size:14px;
                    display: block;
                    text-transform: capitalize;
                }
                margin-bottom: 15px;
            }
            p{
                // color: #ffffff;  
            }
        }
    }
}

.contact-section{
    padding: 50px 0;
    form{
        padding: 27px;
        background-color: #ffffff;
        box-shadow: 0 0 9px #e3e3e3;
        border-radius: 6px;
        border: 1px solid #dddddd;
          h5{
            color: $primary; 
          }
          .form-control{
            font-size: 15px;
            border:0;
            border-bottom: 1px solid #7c7d7d;
            border-radius: 0;
            padding: 2px;
            &:focus{
                border-bottom: 1px solid $secondary;
                & + label{
                    color: $secondary;
                }
            }
          }
          label{
            margin-bottom:0;
            color: #7c7d7d;
            font-weight: 500;
            font-size:15px;
            line-height: 18px;
          }   
          .btn{
            padding: 9px;
            border-radius: 3px;
          }
          
    }
    &_wrapper{
        .blinking-j{
            right: 12%;
            top: 42%;
        }
        .blinking-n{
            top: 48%;
            right: 27%;
        }
        .blinking-c{
            top: 46%;
            left: 17%;
        }
        .blinking-s{
            top: 37%;
            left: 15%;
        }
        .blinking-sh{
            top: 45%;
            right: 18%;
        }
    }
    &_content{
        padding-left: 75px;
    }
}

.contact-form{
    padding: 150px;
    &_content{
        padding: 0 33px;
    }
    form{
        & > span{
            font-size: 12px;
            display: inline-block;
            margin-bottom: 18px;
            font-weight: 300;
        }
        padding: 27px 33px;
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        h5{
            text-align: center;
            margin-bottom: 12px;
        }
        label{
            font-size: 15px;
            margin-bottom:6px;
        }
        .btn{
            border-radius: 3px;
        }
    }
}

footer{
    padding: 50px 0 0;
    background: #101614;
}
.footer-top{

    h5{
        color: #ffffff;
        margin-bottom:24px;
    }
    ul{
        padding-left:0;
        margin-bottom:50px;
        li{
            list-style-type: none;
            margin-bottom: 15px;
            a{
                color: #7c7d7d;
                text-decoration: none;
                transition: all ease-in-out 500ms;
                -ms-transition: all ease-in-out 500ms;
                -moz-transition: all ease-in-out 500ms;
                -webkit-transition: all ease-in-out 500ms;
                &:hover{
                    color: #ffffff;
                }
            }
        }
    }
}
.footer-bottom{
    padding: 15px 0;
    p{
        font-size: 12px;
        color: #ffffff;
        margin-bottom:0;
        display: inline-block;
        margin:0 9px;
    }
    img{
        max-width: 27px;
    }
    span{
        display: inline-block;
        margin-right: 9px;
        font-size: 12px;
        color: $primary;
        a{
            text-decoration: none;
            color: $primary;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}