// Navigation Bar
.navbar-brand {
    img{
        max-width: 129px;
    }
}

.navbar {
    background: #ffffff;
    border-bottom: 1px solid #F3F5F9;
    .nav-item{
        .nav-link{
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: .5px;
            font-size: 14px;
            padding: 8px 14px;
            font-weight: 500;
            color: #242424;
            transition: opacity ease-in-out 500ms;
            -ms-transition: opacity ease-in-out 500ms;
            -moz-transition: opacity ease-in-out 500ms;
            -webkit-transition: opacity ease-in-out 500ms;

            &:hover{
                opacity: .65;
            }

            &.active{
                color: $primary;
            }
        }
        &.dropdown{
            .dropdown-menu{
                box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
            }
            img{
                max-width: 21px;
                margin-right: 6px;
            }
            li{
                a{
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}

// Banner Area
.banner-section{
    background-color: #f5fafe;
    &_content{
        top: 50%;
        transform: translateY(-50%);
    }
    .overlay{
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        width:100%;
        height:100%;
        background-color: rgba(0, 0, 0, .4);
    }
    h1{
        font-size: 27px;
        margin-bottom: 20px;   
        line-height: 51px;
        color: #ffffff;
        span{
     
            display: inline-block;
            color: #ffffff;
            font-size: 51px;
            div{
               color: #BC002D;
               display: inline-block;
            }
        }
    }
    p{
        margin-bottom: 30px;
        color: #ffffff;
    }
    &_buttons{
        .btn{
            margin-right: 10px;
        }
    }
    &_image{
        img{
            max-width: 469px;
        }
    }
    
}

.whyus{
    padding: 50px 0;
    background: transparent linear-gradient(180deg,#fff 0,darken(#f8f8f8, 3%) 100%) 0 0 no-repeat padding-box;
    .card{
        padding: 27px;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        border: none;
        text-align: center;
        border-radius: 6px 6px 3px 3px;
        border-top: 2px solid $primary;
        h5{
            text-align: center;
            color: $secondary;
            margin-bottom: 15px;   
        }
        h6{
            text-align: center;
        }
        p{
            text-align: center;
            font-size: 15px;
        }
        img{
            border-radius: 50%; 
            max-width: 210px;
            margin: 0 auto;  
        }
        .card-body{
            padding: 15px 0 0;
        }
        .btn{
            padding: 9px 21px;
        }
    }
    &_content{
        margin-bottom: 27px;
        padding: 18px 21px 21px;
        background-color: #ffffff;
        box-shadow: 0 4px 9px #e3e3e3;
        border-top: 2px solid $primary;
        border-radius: 6px 6px 3px 3px;
        height: 252px;
        overflow: hidden;

        &-icon{
            flex: none;
            height: 45px;
            width: 45px;
            border-radius: 50px;
            background: $secondary;
            color: #ffffff;
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 69px;
        }
        &-text{
            h5{
                font-weight: 600;
                text-transform: capitalize;
                margin-left: 15px;
            }
            p{
                margin-top: 18px;
                margin-bottom: 0;
                font-size: 15px;
            }
        }
    }
}

.partner-section{
    padding: 50px 0;
   &_logo{

    .col{
        padding: 15px 21px;
        flex-grow: 0;
    }
   }
}

.service-section{
    padding: 50px 0;
     background: transparent linear-gradient(180deg,#fff 0,darken(#f8f8f8, 3%) 100%) 0 0 no-repeat padding-box;
    .service-nav{
        .slick-slide{
            cursor:pointer;
            &:hover {
                    img{
                        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
                        background: #f9f9f9;
                    }
                    h6{
                        color: $secondary;
                    }
            }
            &.slick-current{
                img{
                    box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
                    background: #f9f9f9;
                    transform: scale(1.02);

                }
                h6{
                    color: $secondary;
                }
            }
            .content{
                padding: 15px 0;
            }
            img{
                max-width:89px;
                padding: 18px;
                margin: 0 auto;
                transition: all ease-in-out 800ms;
                -ms-transition: all ease-in-out 800ms;
                -moz-transition: all ease-in-out 800ms;
                -webkit-transition: all ease-in-out 800ms;
                border-radius: 12px;
            }
            h6{
                text-align: center;
                font-size: 14px;
                margin-top: 20px;
            }
        }

    }
    .service-for{
        margin-top: 33px;
        &_btn{
            padding: 9px 24px;
        }
        h5{
            color: #6f6f6f;
            font-weight: 500;
        }
        .tech-icon{
            padding: 15px 27px; 
            flex-grow: 0;
            img{
                max-width: 93px;
                max-height:70px;
                margin: 0 auto;
            }
        }
        .slick-slide{
            padding: 42px 33px;  
            background: #ffffff;
            border-radius: 12px;
            margin: 25px 25px; 
            box-shadow: 2px 4px 9px #e3e3e3;
            &::before{
                content: '';
                position: absolute;
                top:0;
                width: 0;
                height: 0;
                border-width: 0 25px 25px 25px;
                border-color: transparent transparent #ffffff transparent;
                border-style: solid;
                top: -25px;
                left: 81px;
            }
        
        }
    }
}

.workflow-section {
    background: #ffffff;
    position: relative;
    padding: 50px 0;

    &_wrapper{
        flex: 0 0 auto;
        width: 27%;
        position: relative;   
    }

    &_line{
        width: 100%;
        height: 3px;
        background-color: #6e7781;
        opacity: .1;
        margin: 63px 0;
    }
    &_box{
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        padding: 33px;
        background: #ffffff;
        border-radius: 12px;
    }
    &_dot{
        width: 54px;
        height: 54px;
        background-color: $secondary;
        border-radius: 50px;
        color: #ffffff;
        text-align: center;
        line-height: 54px;  
        font-size: 18px;

        &-top{
            position: absolute;
            bottom: -72px;  
        }
        &-bottom{
            position: absolute;
            top: -72px;   
        }   
    }
}
.featured-section{
    padding: 50px 0;
    // background: transparent linear-gradient(180deg,#fff 0,#f8f8f8 100%) 0 0 no-repeat padding-box;  
    &_info{
        padding:15px;
        height: 201px;
        p{
            font-size: 13px;
            text-align: justify;
            margin-bottom:0;
            color: #242424;
        }

    }
    &_wrapper{
        background-color: #ffffff;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        border-radius: 6px;
    }
    &_people{
        figure{
            margin-bottom: 0;
            img{
                max-width: 100%;
                width: 100%;
            }
        }
        .overlay{
            bottom:0;
            opacity: .9;
            background-color: $secondary;
            height: 20%;
            opacity: 0.5;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
        h6{
            position:absolute;
            bottom: 16px;
            color: #ffffff;
            font-size: 15px;
            margin-bottom:0;
            text-align: center;
            left: 50%;
            width: 100%;
            transform:translateX(-50%);
        }
     
    }
}
.team-section{
    padding: 50px 0;
    background: transparent linear-gradient(180deg,#fff 0,darken(#f8f8f8, 3%) 100%) 0 0 no-repeat padding-box;
    &_people{
        img{
            border-radius: 9px;
        }
        figure{
            position: relative;
            margin-bottom: 0;
            .overlay{
                position: absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                width: 100%;
                height: 100%;   
                background-color: lighten($secondary, 6%);
                // opacity: 0.3;
                border-radius: 6px;

                h3{
                    color: #ffffff;
                    font-size: 15px;
                }
                p{
                    color: #ffffff;
                    font-size: 12px;
                }
            }
        }
    }
}

.faq-section{
    padding: 50px 0;
    background-color: #ffffff;
}

.contact-section{
    padding: 50px 0;
    background: transparent linear-gradient(180deg,#fff 0,darken(#f8f8f8, 3%) 100%) 0 0 no-repeat padding-box;
    &_content{
        margin-left: 63px;
        background-color: #ffffff;
        box-shadow: 0 0 9px #e3e3e3;
        border-radius: 6px;
        border: 1px solid #f8f8f8;
        &-wrapper{
            padding: 27px 24px;
            h5{
                color: $primary;
                margin-bottom: 9px;
            }
            ul{
                padding-left:0;
                margin-bottom: 18px;
                li{
                    font-size: 12px;
                    list-style-type: none;
                    font-weight: 500;
                    margin-bottom:3px;
                }  
            }
        }
    }
    form{
        border: 3px solid #f8f8f8;
        padding: 27px 24px;
          .form-control{
            font-size: 15px;
            border:0;
            border-bottom: 1px solid #7c7d7d;
            border-radius: 0;
            padding: 2px;
            &:focus{
                border-bottom: 1px solid $primary;
                & + label{
                    color: $primary;
                }
            }
          }
          label{
            margin-bottom:2px;
            color: #7c7d7d;
            font-size:15px;
            line-height: 18px;
          }   
          .btn{
            padding: 9px;
            border-radius: 3px;
          }
          
    }
    &_wrapper{
        .blinking-j{
            right: 12%;
            top: 42%;
        }
        .blinking-n{
            top: 48%;
            right: 27%;
        }
        .blinking-c{
            top: 46%;
            left: 17%;
        }
        .blinking-s{
            top: 37%;
            left: 15%;
        }
        .blinking-sh{
            top: 45%;
            right: 18%;
        }
    }
}

.contact-form{
    padding: 150px;
    &_content{
        padding: 0 33px;
    }
    form{
        & > span{
            font-size: 12px;
            display: inline-block;
            margin-bottom: 18px;
            font-weight: 300;
        }
        padding: 27px 33px;
        background: #ffffff;
        border-radius: 3px;
        box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
        h5{
            text-align: center;
            margin-bottom: 12px;
        }
        label{
            font-size: 15px;
            margin-bottom:6px;
        }
        .btn{
            border-radius: 3px;
        }
    }
}

footer{
    padding: 50px 0 0;
    background: #101614;
}
.footer-top{

    h5{
        color: #ffffff;
        margin-bottom:24px;
    }
    ul{
        padding-left:0;
        margin-bottom:50px;
        li{
            list-style-type: none;
            margin-bottom: 15px;
            a{
                color: #7c7d7d;
                text-decoration: none;
                transition: all ease-in-out 500ms;
                -ms-transition: all ease-in-out 500ms;
                -moz-transition: all ease-in-out 500ms;
                -webkit-transition: all ease-in-out 500ms;
                &:hover{
                    color: #ffffff;
                }
            }
        }
    }
    &_media{
        li{
            display: inline-block;
            margin-right: 12px;
            a{
                img{
                    transition: transform ease-in-out 300ms;
                    -ms-transition: transform ease-in-out 300ms;
                    -moz-transition: transform ease-in-out 300ms;
                    -webkit-transition: transform ease-in-out 300ms;
                }
                &:hover{
                    img{
                        transform: translateY(-3px);
                    }
                }
            }
        }
    }
}
.footer-bottom{
    padding: 15px 0;
    p{
        font-size: 12px;
        color: #ffffff;
        margin-bottom:0;
        display: inline-block;
        margin:0 9px;
    }
    img{
        max-width: 27px;
    }
    span{
        display: inline-block;
        margin-right: 9px;
        font-size: 12px;
        color: $primary;
        a{
            text-decoration: none;
            color: $primary;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}