.btn{
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
}

.header-area{
    margin-bottom: 54px;
    h2{
        line-height: 140%;
        margin-bottom:0;
        text-transform: capitalize;
    }
    p{
        margin-bottom:0;
        margin-top: 5px;
        color: $secondary;
        font-weight: 600;
        letter-spacing: 1px;
    }
    h3{
        line-height: 140%;
        font-size: 32px;
        span{
            color: $primary;
            display: inline-block;
            text-transform: capitalize;
        }
    }
}
.navbar-toggler:focus{
  box-shadow: none;
}
.navbar-toggler{
  border: 2 px solid $primary;
}
.mw-180{
    max-width: 1800px !important;  
}
.p-100{
  padding-left: 103px !important;   
}

.page-banner{
  margin-top: 80px;
  &_content{
      top: 50%;
      left: 50%;
      transform:translate(-50%, -50%);  
      h1{
          color: #ffffff;  
          margin-bottom: 3px;
          font-size: 48px;
      }    
      p{
        margin-bottom:0;
        color: #ffffff;
      }
  }
  img{
      height: 240px;
      object-fit: cover;
  }
}

.accordion-button{
  margin-bottom: 3px;
  font-size: 18px;
  border-radius: 3px;
  &:not(.collapsed){
    box-shadow: 0 0 0 1px rgba(53, 72, 91, .04), 0 3px 2px rgba(0, 0, 0, .04), 0 7px 5px rgba(0, 0, 0, .02), 0 13px 10px rgba(0, 0, 0, .02), 0 22px 17px rgba(0, 0, 0, .02) !important;
  }
}
.dropdown-toggle{
    &.show{
        transition: transform ease-in-out 500ms;
        -ms-transition: transform ease-in-out 500ms;
        -moz-transition: transform ease-in-out 500ms;
        -webkit-transition: transform ease-in-out 500ms;
        &::after{
            transform: rotate(180deg);
        }
    }
}

.blinking {
    -webkit-animation: 1.2s blink ease-in-out infinite;
    -moz-animation: 1.2s blink ease-in-out infinite;
    -ms-animation: 1.2s blink ease-in-out infinite;
    -o-animation: 1.2s blink ease-in-out infinite;
    animation: 1.2s blink ease-in-out infinite;
    
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }