.btn{
    text-transform: uppercase;
    color: #ffffff !important;
    letter-spacing: 1px;
}

.header-area{
    margin-bottom: 54px;
    h2{
        line-height: 140%;
        margin-bottom:0;
        text-transform: capitalize;
    }
    p{
        margin-bottom:0;
        margin-top: 5px;
        color: $secondary;
        font-weight: 600;
        letter-spacing: 1px;
    }
    h3{
        line-height: 140%;
        font-size: 2rem;
        span{
            color: $primary;
            display: inline-block;
            text-transform: capitalize;
        }
    }
}

.w-45{
    width: 45% !important;
}
.w-10{
    width: 10% !important;
}
.mw-15{
    max-width: 15% !important;
}

.dropdown-toggle{
    &.show{
        transition: transform ease-in-out 500ms;
        -ms-transition: transform ease-in-out 500ms;
        -moz-transition: transform ease-in-out 500ms;
        -webkit-transition: transform ease-in-out 500ms;
        &::after{
            transform: rotate(180deg);
        }
    }
}

.blinking {
    -webkit-animation: 1.2s blink ease-in-out infinite;
    -moz-animation: 1.2s blink ease-in-out infinite;
    -ms-animation: 1.2s blink ease-in-out infinite;
    -o-animation: 1.2s blink ease-in-out infinite;
    animation: 1.2s blink ease-in-out infinite;
    
  }
  
  @keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }